@import '~office-ui-fabric-react/dist/sass/References.scss';

.intranetGallery {
  .container {
    max-width: 100%;
    margin: 0px auto;
    border:1px rgba(218, 215, 215, 0.699) solid;
    color: black;
    min-height: 330px;
    
  }
  .rightalig{
    float:right;
    padding-right: 15px;
    padding-top: 10px;
    color: #000;
  }
  .header{
    font-size: 18px;
    margin:0px !important;
    background-color: #F3F2F1;
    color: #323130;
    font-weight: 600;
    padding: 10px;
   }
   .image{
    width:  95px; 
    height: 90px;
    margin: 2px;
   }
   .margin{
    margin-left: 9px;
   }
}
