@import '~office-ui-fabric-react/dist/sass/References.scss';

.intranetOutlook {
  .container {
    max-width: 100%;
    margin: 0px auto;
    border:1px rgba(218, 215, 215, 0.699) solid;
    color: black;
    min-height: 330px;
    img{
      width:25px;
    }
  }
  .viewAll, .newEmail {
    float:right;
    position: absolute;
    right: 0px;
    bottom: 0;
  }
  .title, .newEmail {
    padding-left: 10px;
   // float:right;
  }

  .list {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .message {
    display: block;
    padding: 0.5em 10px;
    color: $ms-color-black;

    &:hover {
      color: inherit;
      background: $ms-color-neutralLight;
    }
  }
  .from {
    @include ms-font-l;
    @include ms-fontWeight-semibold;
    font-family: 'Times New Roman', Times, serif;
  }

  .subject {
    @include ms-font-m;
    @include ms-fontWeight-semibold;
    font-family: 'Times New Roman', Times, serif;
   // color: $ms-color-themePrimary;
    color:black;
    float: left;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .date {
    @include ms-font-s;
    @include ms-fontWeight-semibold;
    //color: $ms-color-themePrimary;
    float: right;
    width: 20%;
    text-align: right;
    word-break: keep-all;
    padding-top: 5px
   // color: blue;
  }

  .preview {
    @include ms-font-s;
    @include ms-fontWeight-light;
    clear: both;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .isRead{
    .from {
      @include ms-fontWeight-semilight;
    }   

    .subject {
      @include ms-fontWeight-semilight;
    }
    
    .date {
      @include ms-fontWeight-semilight;
    }
    
    .preview {
      @include ms-fontWeight-light;
    }
  }

  .noMessages {
    @include ms-font-m;
  }

  .error {
    @include ms-font-m;
    color: $ms-color-alert;
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    // @include ms-font-xl;
    // @include ms-fontColor-white;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(140, 140, 140);
    font-weight: 400;
    font-size: 17px;
    overflow: hidden;
  }

  .subTitle {
    // @include ms-font-l;
    // @include ms-fontColor-white;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(83, 199, 189);
    font-weight: 400;
    font-size: 12px;
    overflow: hidden;
  }

  .description {
    //@include ms-font-l;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    //@include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
    
   
  }

  .paddingOnDiv{
    padding: 5px;
  }

  .header{
    font-size: 18px;
  	margin:0px !important;
    background-color: #F3F2F1;
    color: #323130;
    font-weight: 600;
    padding: 10px;
   }

  .spanheading{
    font-family: sans-serif;
    color:blue
  }
  .rightalig{
    float:right;
    padding-right: 15px;
    padding-top: 10px;
    color: #000;
  }
}
